body {
  background: #FFFFFF;
  color: #313131;
  margin: 0;
  font-family: "Inter", sans-serif;
}

.topBar {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.875rem;
  margin-bottom: 3rem;
  padding-top: 2rem;
  width: 100%;
}

#gymFitLogo {
  justify-self: start;
  height: 3rem;
  width: 6.5rem;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  width: 50%;
  font-size: 1.5rem;
  font-weight: 400;
}

#home {
  color: #FFE500;
}
#home:hover {
  transform: scale(1.2);
}

#about:hover {
  transform: scale(1.2);
}

#exercises:hover {
  transform: scale(1.2);
}

#contact:hover {
  transform: scale(1.2);
}

.signUp {
  justify-self: end;
  outline: none;
  border: none;
  border-radius: 6px;
  background-color: #313131;
  color: #FFFFFF;
  padding: 20px 40px;
  width: 15%;
  box-shadow: 10px 20px 20px rgba(49, 49, 49, 0.2);
}
.signUp:active {
  background-color: #FFE500;
  color: #313131;
  transform: scale(0.98);
}
.signUp:hover {
  background-color: #FFE500;
  color: #313131;
}

.frontText {
  margin-top: 10rem;
}

#mainPage {
  height: 1200px;
}

.frontText img {
  width: 34rem;
  margin-bottom: 3rem;
}

.frontText h1 {
  font-weight: bolder;
  margin-bottom: 3rem;
}

.frontText p {
  width: 85%;
  font-size: 1.3rem;
  line-height: 2rem;
  font-family: "lato", sans-serif;
  margin-bottom: 3rem;
  color: #313131;
}

#exploreExercises {
  border-radius: 6px;
  padding: 20px 28px;
  border: none;
  outline: none;
  color: #313131;
  background-color: #FFE500;
  width: 15rem;
  height: 5rem;
  font-size: 1.25rem;
  box-shadow: 0 40px 80px rgba(255, 230, 0, 0.3);
}
#exploreExercises:active {
  background-color: #313131;
  color: #FFE500;
  transform: scale(0.98);
}
#exploreExercises:hover {
  background-color: #313131;
  color: #FFE500;
}

#cf {
  position: relative;
  height: 172.688rem;
  width: 49.063rem;
  margin: 0 auto;
}

#cf img {
  position: absolute;
  left: 0;
  -webkit-transition: opacity 3s ease-in-out;
  -moz-transition: opacity 3s ease-in-out;
  -o-transition: opacity 3s ease-in-out;
  transition: opacity 3s ease-in-out;
}

#cf img.top {
  animation-name: cf3FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 20s;
  animation-direction: alternate;
}

@-webkit-keyframes cf3FadeInOut {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes cf3FadeInOut {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes cf3FadeInOut {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes cf3FadeInOut {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#section2 {
  margin-top: 4rem;
}

.learn {
  display: flex;
  font-weight: 600;
}

.search {
  width: 100%;
  display: flex;
}

label {
  width: 100%;
}

#searchExercises {
  width: 100%;
  height: 100%;
  border: 1px solid #EFEFEF;
  background-color: #FBFBFB;
  margin-left: 2.5rem;
  padding-left: 1.5rem;
}

.search button {
  background-color: #FFE500;
  color: #313131;
  border-radius: 0 6px 6px 0;
  border: none;
  outline: none;
  padding: 24px 70px;
}
.search button:active {
  background-color: #313131;
  color: #FFE500;
  transform: scale(0.98);
}
.search button:hover {
  background-color: #313131;
  color: #FFE500;
}

.exerciseBoxes {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}

.box1 {
  display: flex;
  flex-direction: column;
  background-color: #FFFCE6;
  width: 18.125rem;
  height: 16.25rem;
  align-items: center;
  justify-content: center;
  margin: 6rem 0 4rem 0;
  text-align: center;
}

.box1 img {
  padding-bottom: 2rem;
}

#results {
  background-color: #F9F9F9;
  padding: 2rem 0;
}

.container h3 {
  margin-bottom: 3rem;
}

.resultBoxes {
  width: 100%;
  display: flex;
  margin-bottom: 3rem;
}

.resultBoxes .row {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.resultBoxes .col {
  margin-left: 2rem;
}

.box2 {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  background-color: #FFFFFF;
  border-top: 7px solid #FFE500;
  height: 26rem;
  width: 100%;
  margin-bottom: 3rem;
  font-weight: 600;
}

.box2 ul > li {
  display: inline-block;
  justify-content: flex-end;
}

.upperArms {
  background-color: #FFE500;
  color: #9D8D00;
  padding: 0.5rem 1rem;
  border-radius: 40px;
  margin-right: 1rem;
  margin-left: -2rem;
}

.triceps {
  background-color: #FFABAB;
  color: #C95C5C;
  padding: 0.5rem 1rem;
  border-radius: 40px;
}

.box2 p {
  font-size: 24px;
  align-self: end;
  width: 60%;
}

footer {
  background-color: #313131;
  color: #FFFFFF;
}

#bottomBanner {
  padding: 40px;
  width: 100%;
  display: flex;
}

.loremIpsum img {
  padding-bottom: 20px;
}

.loremIpsum {
  line-height: 28px;
}

ul:before {
  content: attr(aria-label);
  font-weight: 600;
  font-size: 1.125rem;
}

.links {
  padding-left: 2.5rem;
}

li {
  list-style-type: none;
  padding-top: 15px;
}

.copyright {
  width: 100%;
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=main.css.map */
